div.recommend-job,div.hot-job,.famous-company {
    width: px2rem(721px);
    background-color: #FFF;
    margin: px2rem(15px) auto 0;
    box-sizing: border-box;
    box-shadow: 3px 3px 10px $border-color;
    padding: px2rem(18px) px2rem(21px) px2rem(21px) px2rem(18px);
    p.title {
        font-weight: bold;
        color: $theme-color;
        position: relative;
        .icon {
            width: px2rem(22px);
            height: px2rem(28px);
            margin-right: px2rem(10px);
        }
        padding-bottom: px2rem(13px);
        &:after {
            @include border-bottom;
        }
    }
    // 列表
    ul {
        box-sizing: border-box;
    }

    p.title,.top,.more {
        font-size: px2rem(30px);
    }

    //更多
    .more {
        color: $theme-color;
        text-align: center;
        margin-top: px2rem(12px);
        display: block;
    }
}