div.recommend-job {
    padding: px2rem(16px) px2rem(19px) px2rem(17px) px2rem(15px);
    .item {
        display: flex;
        // border-top: 1px solid $border-color;
        padding: px2rem(22px) 0px px2rem(18px) 0px;
        position: relative;
        &:after {
            @include borderAfter;
        }
    }
    p.title {
        width: px2rem(680px);
    }
    .title {
        width: px2rem(639px);
    }
    .top {
        font-weight: bold;
        color: $standard-color;
    }
    .bottom {
        color: $assist-color;
        margin-top: px2rem(12px);
        line-height: px2rem(29px);
    }
    .after {
        img {
            margin-top: px2rem(22px);
            width: px2rem(21px);
            height: px2rem(39px);
        }
    }
    .more {
        color: $theme-color;
        text-align: center;
        margin-top: px2rem(12px);
        display: block;
    }
}

[data-dpr="1"] .recommend-job {
    p.title,.top ,.more {
        font-size: 15px;
        line-height: 15px;
    }
    .bottom {
        font-size: 13px;
    }
}
[data-dpr="2"] .recommend-job {
    p.title,.top,.more {
        font-size: 30px;
        line-height: 30px;
    }
    .bottom {
        font-size: 26px;
    }
    .item {
        &:after {
            transform: scaleY(.5);
        }
    }
}
[data-dpr="3"] .recommend-job {
    p.title,.top,.more {
        font-size: 45px;
        line-height: 45px;
    }
    .bottom {
        font-size: 39px;
    }
    .item {
        &:after {
            transform: scaleY(.33);
        }
    }
}