div.recommend-job {
    padding: px2rem(16px) px2rem(19px) px2rem(17px) px2rem(15px) !important;
    .item {
        display: flex;
        padding: px2rem(22px) 0px px2rem(18px) 0px;
        position: relative;
        &:after {
            @include border-bottom;
        }
    }
    div.title {
        width: px2rem(639px);
    }
    .top {
        font-weight: bold;
        color: $standard-color;
    }
    .bottom {
        font-size: px2rem(26px);
        color: $assist-color;
        margin-top: px2rem(12px);
    }
    .after {
        img {
            margin-top: px2rem(22px);
            width: px2rem(21px);
            height: px2rem(39px);
        }
    }
}