a.button {
    text-decoration: none;
    text-align: center;
    display: block;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: 0 0;
    white-space: nowrap;
    position: relative;
    text-overflow: ellipsis;
    font-family: inherit;
    cursor: pointer;
    outline: 0;
}