.modal-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    z-index: 13000;
    visibility: hidden;
    opacity: 0;
    transition-duration: .4s;
    &.modal-overlay-visible {
        visibility: visible;
        opacity: 1;
    }
}

.modal {
    width: px2rem(600px);
    height: px2rem(250px);
    .modal-inner,.modal-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    }
    .modal-inner {
        height: px2rem(111px);
        position: relative;
        // width: px2rem(561px);
        margin: 0 auto;
        &:after {
            @include border-bottom;
        }
    }
    .modal-buttons {
        height: px2rem(139px);
        font-size: px2rem(26px);
        .modal-button {
            width: px2rem(146px);
            height: px2rem(53px);
            display: inline-block;
            background-color: $theme-color;
            text-align: center;
            line-height: px2rem(53px);
            color: #FFF;
            border-radius: px2rem(9px);
            &.cancel-button {
                background-color: $assist-color;
            }
            &:hover {
                cursor: pointer;
            }
        }
        // prompt
        .button-inner {
            display: flex;
            width: 50%;
            height: 100%;
            align-items: center;
            justify-content: center;
        }
    }
}

.modal,.modal-preloader {
    position: absolute;
    z-index: 13500;
    font-size: px2rem(30px);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center;
    overflow: hidden;
    opacity: 0;
    transform: translate3d(0,0,0) scale(1.185);
    transition-property: transform,opacity;
    color: #000;
    display: none;
    background-color: #FFF;
    &.modal-in {
        opacity: 1;
        transition-duration: .4s;
        transform: translate3d(0,0,0) scale(1);
    }
}

// preloader
.modal-preloader {
    width: px2rem(540px);
    height: px2rem(198px);
    border-radius: px2rem(13px);
    .modal-text {
        margin-top: px2rem(25px);
    }
    .modal-inner {
        padding: px2rem(30px);
        border-radius:px2rem(13px);
        &:after {
            height: 0px !important;
        }
    }
    .preloader {
        display: inline-block;
        width: px2rem(60px);
        height: px2rem(60px);
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
        background-position: 50%;
        background-size: 100%;
        background-repeat: no-repeat;
        animation: preloader-spin 1s steps(12,end) infinite;
    }
}



@keyframes preloader-spin {
  100% {
    transform: rotate(360deg);
  }
}