.navbar {
    background-image: url(/www/images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .left {
        //主页
        img.menu {
            width: px2rem(43px);
            height: px2rem(35px);
        }
        // 登陆页和注册页
        img.back-icon {
            width: px2rem(48px);
            height: px2rem(48px);
        }
    }
    .center {
        line-height: px2rem(56px);
        // 主页
        img.logo {
            width: px2rem(220px);
            height: px2rem(68px);
        }
        //登陆页和注册页
        a {
            color: #FFF;
        }
    }
    .right {
        img.search {
            width: px2rem(44px);
            height: px2rem(44px);
        }
        //登陆页和注册页
        a {
            color: #FFF;
        }
    }
}

[data-dpr="1"] .navbar {
    .center {
        a {
            font-size: 21px;
        }
    }
    .right {
        a {
            font-size: 18px;
        }
    }
}
[data-dpr="2"] .navbar {
    .center {
        a {
            font-size: 42px;
        }
    }
    .right {
        a {
            font-size: 36px;
        }
    }
}
[data-dpr="3"] .navbar {
    .center {
        a {
            font-size: 63px;
        }
    }
    .right {
        a {
            font-size: 54px;
        }
    }
}