* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
.views {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background: #FFFFFF;
}
.view, .views {
    position: relative;
    height: 100%;
    z-index: $views-z-index;
}

.view {
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
}
