.footer {
    position: absolute;
    bottom: px2rem(30px);
    width: 100%;
    .table {
        margin: 0 auto;
    }
    .table-cell:first-child {
        padding-right: px2rem(54px);
    }
    span {
        color: $assist-color;
        &.aboutus {
            color: $theme-color;
        }
    }
    img {
        width: px2rem(28px);
        height: px2rem(28px);
        margin-right: px2rem(10px); 
        &.letter {
            width: px2rem(32px);
            height: px2rem(22px);
        }
    }
}

[data-dpr="1"] .footer {
    span {
        font-size: 15px;
    }
}
[data-dpr="2"] .footer {
    span {
        font-size: 30px;
    }
}
[data-dpr="3"] .footer {
    span {
        font-size: 45px;
    }
}