.footer {
    position: absolute;
    bottom: px2rem(30px);
    width: 100%;
    .table {
        margin: 0 auto;
    }
    .table-cell:first-child {
        padding-right: px2rem(54px);
    }
    span {
        font-size: px2rem(30px);
        color: $assist-color;
        &.aboutus {
            color: $theme-color;
        }
    }
    img {
        width: px2rem(28px);
        height: px2rem(28px);
        margin-right: px2rem(10px); 
        &.letter {
            width: px2rem(32px);
            height: px2rem(22px);
        }
    }
}