
.panel {
    width: $panel-width;
    background: $panel-background-color;
    padding: px2rem(19px) px2rem(9px) 0 px2rem(10px);
    z-index: 1000;
    display: none;
    box-sizing: border-box;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    &.active {
        display: block;
    }
    // 头像区域
    .header {
        display: flex;
        align-items: center;
        img {
            width: px2rem(56px);
            height: px2rem(56px);
        }
        p {
            white-space: nowrap;
            margin-left: px2rem(8px);
            // width: px2rem(115px);
            color: #FFF;
            padding: 0px;
            border-bottom: 1px solid #FFF;
            a {
                color: #FFF;
                text-decoration: none;
            }
        }
    }

    //申请记录
    .record-number {
        width: px2rem(31px);
        height: px2rem(31px);
        background: $record-background-color;
        border-radius: px2rem(31px);
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        margin: auto;
        transform: translateX(px2rem(42.5px));
        color: #FFF;
        line-height: px2rem(31px);
        text-align: center;
    }

    // 功能列表
    ul {
        margin-top: px2rem(9px);
    }
    .table {
        width: 100%;
        padding-top: px2rem(54px);
    }
    .table-cell {
        text-align: center;
        font-size: 0px;
        position: relative;
        img {
            width: px2rem(98px);
            height: px2rem(98px);
        }
        p {
            color: #FFF;
            margin-top: px2rem(14px);
        }
    }
}

.panel-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    opacity: 0;
    z-index: 5999;
    display: none;
    &.active {
        display: block;
    }
}

.views {
    transition-duration: .4s;
    transition-property: transform;
}

#content-inner.with-panel-left-reveal {
    .views,.panel-overlay {
        transform: translate3d($panel-width,0,0);
    }
}

#content-inner.with-panel-left-reveal-out {
    .views,.panel-overlay {
        transform: translate3d(0,0,0);
    }
}


[data-dpr="1"] .panel {
    p {
        font-size: 14px;
    }
    .record-number {
        font-size: 13px;
    }
}

[data-dpr="2"] .panel {
    p {
        font-size: 28px;
    }
    .record-number {
        font-size: 26px;
    }
}

[data-dpr="3"] .panel {
    p {
        font-size: 42px;
    }
    .record-number {
        font-size: 39px;
    }
}