[data-page="apply"] {
    background-color: #FFF;
    ul:after {
        height: 0px;
    }
    .item-content {
        padding: 0 px2rem(55px) 0 px2rem(35px);
    }
    .item-inner {
        padding: px2rem(43px) 0 px2rem(25px);
    }
    .top {
        font-size: px2rem(30px);
        color: $standard-color;
        margin-bottom: px2rem(13px);
    }
    .middle {
        margin-bottom: px2rem(17px);
    }
    .middle,.bottom {
        font-size: px2rem(26px);
        color: $assist-color;
    }
    img {
        width: px2rem(21px);
        height: px2rem(39px);
    }
}