[data-page="apply"] {
    background-color: #FFF;
    ul:after {
        height: 0px;
    }
    .item-content {
        padding: 0 px2rem(55px) 0 px2rem(35px);
    }
    .item-inner {
        padding: px2rem(43px) 0 px2rem(25px);
    }
    .top {
        color: $standard-color;
        margin-bottom: px2rem(13px);
    }
    .middle {
        margin-bottom: px2rem(17px);
    }
    .middle,.bottom {
        line-height: px2rem(26px);
        color: $assist-color;
    }
    img {
        width: px2rem(21px);
        height: px2rem(39px);
    }
}

[data-dpr="1"] [data-page="apply"] {
    .top {
        font-size: 16px;
    }
    .middle,.bottom {
        font-size: 14px;
    }
}

[data-dpr="2"] [data-page="apply"] {
    .top {
        font-size: 30px;
    }
    .middle,.bottom {
        font-size: 26px;
    }
}

[data-dpr="3"] [data-page="apply"] {
    .top {
        font-size: 46px;
    }
    .middle,.bottom {
        font-size: 40px;
    }
}
