[data-page="login"], [data-page="register"],[data-page="change-passwd"] {
    background: #FFF !important;
    .item-content {
        padding-left: px2rem(32px);
        padding-right: px2rem(34px);
    }
    // 除去边框
    ul {
        &:before {
            height: 0px;
        }
        &:after {
            height: 0px;
        }
    }
    .item-title {
        font-size: px2rem(30px);
        // font-weight: bold;
        color: $standard-color;
        // line-height: px2rem(30px);
    }
    .item-input {
        margin: 0px;
        width: 79%;
        input {
            font-size: px2rem(30px);
        }
    }
    .item-inner {
        &:after {
            background-color: $border-color !important;
        }
    }

    //给最后一个li添加after边框
    li:last-child {
        .item-inner {
            &:after {
                @include border-bottom;
            }
        }
    }
    .forget-passwd a {
        font-size: px2rem(30px);
    }
    //登陆按钮
    .forget-passwd {
        width: px2rem(681px);
        margin: 0 auto;
        overflow: hidden;
    }
    a.button {
        font-size: px2rem(42px);
        background-color: $theme-color;
        height: px2rem(95px);
        line-height: px2rem(95px);
        border: 0;
        color: #FFF;
        border-radius: 0px;
    }
    

    // 获取验证码
    .get-code {
        font-size: px2rem(26px);
    }

    // 注册中的协议
    .protocal {
        font-size: px2rem(30px);
        a {
            font-size: px2rem(30px);
        }
    }
}

[data-page="login"], [data-page="register"],[data-page="change-passwd"],[data-page="createResume"] {
    a.button {
        width: px2rem(681px);
        margin: 0 auto;
        overflow: hidden;
        font-size: px2rem(42px);
        background-color: $theme-color;
        height: px2rem(95px);
        line-height: px2rem(95px);
        border: 0;
        color: #FFF;
        border-radius: 0px;
    }
}