[data-page="login"] {
    .list-block {
        margin: px2rem(21px) 0 px2rem(41px);
        .item-content {
            padding-left: px2rem(33px);
            padding-right: px2rem(36px);
        }
        .item-inner {
            padding-top: px2rem(38px);
            padding-bottom: px2rem(36px);
        }
        
    }

    // 忘记密码
    .forget-passwd {
        margin-top: px2rem(25px) !important;
        a {
            float: right;
            color: $theme-color;
            line-height: px2rem(30px);
        }
    }
}

