[data-page="my-resume"] {
    .list-block {
        padding: px2rem(19px) px2rem(33px) px2rem(21px) px2rem(35px);
        background-color: #FFF;
    }
    // title
    .resume-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: px2rem(30px);
        color: $theme-color;
        .item-title {
            font-weight: bold;
        }
        .after {
            display: flex;
            align-items: center;
            font-size: px2rem(26px);
        }
        img.edit {
            height: px2rem(31px);
        }
        img.plus {
            margin-right: px2rem(10px);
            height: px2rem(32px);
        }
    }
    .info-item {
        margin-top: px2rem(16px);
    }
    // 进度条
    .progress {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: px2rem(26px);
        .progress-bar {
            width: px2rem(340px);
            height: px2rem(20px);
            background-color: $page-background-color;
        }
        .progress-bar-inner {
            width: px2rem(100px);
            height: 100%;
            background-color: $theme-color;
        }
        .btn {
            width: px2rem(146px);
            height: px2rem(53px);
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FFF;
            background-color: $theme-color;
            border-radius: px2rem(8px);
        }
    }

    //基本信息
    .baseinfo,.workinfo,.profession,.talent {
        ul {
            margin-top: px2rem(14px);
            font-size: px2rem(26px);
            padding-top: px2rem(28px);
            &:after {
                height: 0 !important;
            }
            li {
                margin-bottom: px2rem(36px);
                &:last-child {
                    margin-bottom: 0;
                }
            }
            span:first-child {
                color: $standard-color;
            }
            span:last-child {
                margin-left: px2rem(40px);
                color: $assist-color;
            }
        }
    }
    // 职业意向
    .workinfo,.profession {
        ul {
            li:last-child {
                margin-bottom: px2rem(34px) !important;
            }
        }
        .text-area {
            position: relative;
            color: $assist-color;
            padding-top: px2rem(34px) !important;
            font-size: px2rem(26px);
            box-sizing: border-box;
            min-height: px2rem(164px);
            &:before {
                @include border-top;
            }
        }
    }

    //保存按钮
    a.button {
        width: px2rem(721px);
        height: px2rem(95px);
        margin: px2rem(16px) auto 0;
        background-color: $theme-color;
        color: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: px2rem(42px);
    }

    .footer {
        position: static;
        margin-top: px2rem(46px);
        margin-bottom: px2rem(36px);
    }
}