[data-page="resume"] {
    .list-block ul:after {
        height: 0px !important;
    }
    .item-inner {
        padding: px2rem(18px) px2rem(55px) px2rem(19px) px2rem(36px);
    }
    .item-inner.empty {
        height: px2rem(90px);
    }
    .item-after {
        display: flex;
        align-items: center;
    }
    .empty .item-title {
        margin: 0 auto;
        color: $standard-color;
        a {
            color: $theme-color
        }
    }

    // 箭头
    img {
        width: px2rem(21px);
        height: px2rem(39px);
    }

    //删除图片
    img.delete {
        margin-right: px2rem(48px);
        vertical-align: middle;
        width: px2rem(53px);
        height: px2rem(52px);
    }
}

[data-dpr="1"] [data-page="resume"] {
    .item-title {
        font-size: 15px;
    }
}
[data-dpr="2"] [data-page="resume"] {
    .item-title {
        font-size: 30px;
    }
}
[data-dpr="3"] [data-page="resume"] {
    .item-title {
        font-size: 45px;
    }
}