[data-page="personal"] {
    background-color: $page-background-color !important;
    // 第一个list-block
    .list-block:first-child {
        ul {
            background-color: $page-background-color;
            &:after {
                height: 0 !important;
            }
        }
        .item-content {
            padding: 0 px2rem(35px) 0 px2rem(35px);
        }
        .item-inner {
            padding-top: px2rem(32px);
            padding-bottom: px2rem(30px);
            color: $standard-color;
            font-weight: bold;
        }
        .create-resume {
            font-size: px2rem(26px);
        }
    }
    .list-block {
        color: $standard-color;
        .item-content {
            padding-left: px2rem(36px);
            padding-right: px2rem(55px);
        }
        .item-inner {
            padding-top: px2rem(23px);
            padding-bottom: px2rem(27px);
            &:after {
                height: 0 !important;
            }
            span {
                color: $theme-color;
            }
        }
        .item-title {
            font-size: px2rem(30px);
        }
        li:last-child {
            .item-inner:after {
                height: 0 !important;
            }
        }
    }
    .list-block:nth-child(3) {
        margin-top: px2rem(17px);
    }
    // 退出登录按钮
    .logout {
        font-size: px2rem(42px);
        width: px2rem(681px);
        height: px2rem(95px);
        background-color: $theme-color;
        color: #FFF;
        position: absolute;
        left: 0;
        right: 0;
        bottom: px2rem(107px);
        margin: 0 auto;
    }

    //创建简历按钮
    .create-resume {
        width: px2rem(146px);
        height: px2rem(53px);
        background-color: $theme-color;
        border-radius: px2rem(10px);
        color: #FFF;
    }

    // 箭头
    .item-after img {
        width: px2rem(21px);
        height: px2rem(39px);
    }

    .my-info {
        li:last-child {
            .item-content:after {
                height: 0px !important;
            }
        }
        .item-content:after {
            @include border-bottom;
        }
    }
}