body {
  padding: 0px;
  max-width: 10rem;
  margin: 0 auto;
  font-family: Microsoft yahei; }

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

p {
  margin: 0; }

div#main-content {
  width: 100%;
  height: 100%; }

div#content-inner {
  width: 100%;
  height: 100%; }

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.table {
  display: table; }

.table-row {
  display: table-row; }

.table-cell {
  display: table-cell; }

.page {
  background: #e9e9e9; }

.navbar {
  height: 1.38667rem; }

.navbar-inner {
  padding: 0 0.26667rem !important; }

.page-content {
  padding-top: 1.38667rem !important; }

[data-page="login"] .list-block {
  margin: 0.28rem 0 0.54667rem; }
  [data-page="login"] .list-block .item-content {
    padding-left: 0.44rem;
    padding-right: 0.48rem; }
  [data-page="login"] .list-block .item-inner {
    padding-top: 0.50667rem;
    padding-bottom: 0.48rem; }

[data-page="login"] .forget-passwd {
  margin-top: 0.33333rem !important; }
  [data-page="login"] .forget-passwd a {
    float: right;
    color: #f9a326;
    line-height: 0.4rem; }

[data-page="register"] .list-block:first-child {
  margin: 0.25333rem 0 0.44rem; }

[data-page="register"] .item-content {
  padding-left: 0.42667rem;
  padding-right: 0.45333rem; }

[data-page="register"] li:nth-child(2) .item-input {
  display: flex;
  align-items: center; }

[data-page="register"] li:nth-child(2) input {
  width: 5.14667rem; }

[data-page="register"] li:nth-child(2) .get-code {
  width: 2.33333rem;
  height: 0.70667rem;
  line-height: 0.70667rem;
  border-radius: 5px;
  background-color: #f9a326;
  color: #FFF;
  display: inline-block;
  text-align: center; }

[data-page="register"] .item-inner {
  padding: 0.53333rem 0 0.49333rem; }

[data-page="register"] .protocal {
  color: #4d4d4d;
  display: table;
  width: 100%; }
  [data-page="register"] .protocal .table-row {
    line-height: 0.42667rem;
    text-align: center; }
  [data-page="register"] .protocal .checkbox {
    position: relative;
    width: 0.42667rem;
    height: 0.42667rem;
    vertical-align: bottom;
    text-align: center;
    border: 1px solid #d5d5d5;
    display: inline-block;
    margin-right: 0.24rem;
    box-sizing: border-box; }
    [data-page="register"] .protocal .checkbox.active {
      border: 1px solid #f9a326;
      background: #f9a326; }
      [data-page="register"] .protocal .checkbox.active img {
        display: block; }
    [data-page="register"] .protocal .checkbox img {
      display: none;
      bottom: 0.04rem;
      position: absolute;
      left: 0px;
      right: 0px;
      margin: auto;
      width: 0.37333rem;
      height: 0.26667rem; }
  [data-page="register"] .protocal a {
    color: #f9a326; }

[data-page="register"] .button {
  margin-top: 0.45333rem !important; }

[data-page="login"], [data-page="register"] {
  background: #FFF !important; }
  [data-page="login"] ul:before, [data-page="register"] ul:before {
    height: 0px; }
  [data-page="login"] ul:after, [data-page="register"] ul:after {
    height: 0px; }
  [data-page="login"] .item-title, [data-page="register"] .item-title {
    font-weight: bold;
    color: #4d4d4d;
    width: 2rem; }
  [data-page="login"] .item-input, [data-page="register"] .item-input {
    margin: 0px; }
    [data-page="login"] .item-input input, [data-page="register"] .item-input input {
      height: 0.57333rem;
      line-height: 0.57333rem; }
  [data-page="login"] .item-inner:after, [data-page="register"] .item-inner:after {
    background-color: #d5d5d5 !important; }
  [data-page="login"] li:last-child .item-inner:after, [data-page="register"] li:last-child .item-inner:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #d5d5d5;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%; }
  [data-page="login"] .button, [data-page="login"] .forget-passwd, [data-page="register"] .button, [data-page="register"] .forget-passwd {
    width: 9.08rem;
    margin: 0 auto;
    overflow: hidden; }
  [data-page="login"] a.button, [data-page="register"] a.button {
    background-color: #f9a326;
    height: 1.26667rem;
    line-height: 1.26667rem;
    border: 0;
    color: #FFF;
    border-radius: 0px; }
  [data-page="login"] .tips, [data-page="register"] .tips {
    text-align: center;
    color: #9a9a9a;
    line-height: 0.38667rem;
    margin-top: 0.50667rem; }
    [data-page="login"] .tips a, [data-page="register"] .tips a {
      color: #f9a326; }

[data-dpr="1"] [data-page="login"] .list-block, [data-dpr="1"] [data-page="login"] input, [data-dpr="1"] [data-page="login"] .forget-passwd a, [data-dpr="1"] [data-page='register'] .list-block, [data-dpr="1"] [data-page='register'] input, [data-dpr="1"] [data-page='register'] .forget-passwd a {
  font-size: 15px; }

[data-dpr="1"] [data-page="login"] .button, [data-dpr="1"] [data-page='register'] .button {
  font-size: 21px; }

[data-dpr="1"] [data-page="login"] .tips, [data-dpr="1"] [data-page="login"] .get-code, [data-dpr="1"] [data-page='register'] .tips, [data-dpr="1"] [data-page='register'] .get-code {
  font-size: 13px; }

[data-dpr="1"] [data-page="login"] .protocal, [data-dpr="1"] [data-page='register'] .protocal {
  font-size: 15px; }
  [data-dpr="1"] [data-page="login"] .protocal a, [data-dpr="1"] [data-page='register'] .protocal a {
    font-size: 15px; }

[data-dpr="2"] [data-page="login"] .list-block, [data-dpr="2"] [data-page="login"] input, [data-dpr="2"] [data-page="login"] .forget-passwd a, [data-dpr="2"] [data-page='register'] .list-block, [data-dpr="2"] [data-page='register'] input, [data-dpr="2"] [data-page='register'] .forget-passwd a {
  font-size: 30px; }

[data-dpr="2"] [data-page="login"] .button, [data-dpr="2"] [data-page='register'] .button {
  font-size: 42px; }

[data-dpr="2"] [data-page="login"] .tips, [data-dpr="2"] [data-page="login"] .get-code, [data-dpr="2"] [data-page='register'] .tips, [data-dpr="2"] [data-page='register'] .get-code {
  font-size: 26px; }

[data-dpr="2"] [data-page="login"] .protocal, [data-dpr="2"] [data-page='register'] .protocal {
  font-size: 30px; }
  [data-dpr="2"] [data-page="login"] .protocal a, [data-dpr="2"] [data-page='register'] .protocal a {
    font-size: 30px; }

[data-dpr="3"] [data-page="login"] .list-block, [data-dpr="3"] [data-page="login"] input, [data-dpr="3"] [data-page="login"] .forget-passwd a, [data-dpr="3"] [data-page='register'] .list-block, [data-dpr="3"] [data-page='register'] input, [data-dpr="3"] [data-page='register'] .forget-passwd a {
  font-size: 45px; }

[data-dpr="3"] [data-page="login"] .button, [data-dpr="3"] [data-page='register'] .button {
  font-size: 63px; }

[data-dpr="3"] [data-page="login"] .tips, [data-dpr="3"] [data-page="login"] .get-code, [data-dpr="3"] [data-page='register'] .tips, [data-dpr="3"] [data-page='register'] .get-code {
  font-size: 39px; }

[data-dpr="3"] [data-page="login"] .protocal, [data-dpr="3"] [data-page='register'] .protocal {
  font-size: 45px; }
  [data-dpr="3"] [data-page="login"] .protocal a, [data-dpr="3"] [data-page='register'] .protocal a {
    font-size: 45px; }

.navbar {
  background-image: url(/www/images/header.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .navbar .left img.menu {
    width: 0.57333rem;
    height: 0.46667rem; }
  .navbar .left img.back-icon {
    width: 0.64rem;
    height: 0.64rem; }
  .navbar .center {
    line-height: 0.74667rem; }
    .navbar .center img.logo {
      width: 2.93333rem;
      height: 0.90667rem; }
    .navbar .center a {
      color: #FFF; }
  .navbar .right img.search {
    width: 0.58667rem;
    height: 0.58667rem; }
  .navbar .right a {
    color: #FFF; }

[data-dpr="1"] .navbar .center a {
  font-size: 21px; }

[data-dpr="1"] .navbar .right a {
  font-size: 18px; }

[data-dpr="2"] .navbar .center a {
  font-size: 42px; }

[data-dpr="2"] .navbar .right a {
  font-size: 36px; }

[data-dpr="3"] .navbar .center a {
  font-size: 63px; }

[data-dpr="3"] .navbar .right a {
  font-size: 54px; }

img.banner {
  height: 1.6rem;
  display: block;
  margin: 0.21333rem auto 0;
  box-shadow: 3px 3px 10px #d5d5d5; }

.panel {
  width: 3rem;
  background: #333333;
  padding: 0.25333rem 0.12rem 0 0.13333rem; }
  .panel .header {
    display: flex;
    align-items: center; }
    .panel .header img {
      width: 0.74667rem;
      height: 0.74667rem; }
    .panel .header p {
      white-space: nowrap;
      margin-left: 0.10667rem;
      color: #FFF;
      padding: 0px;
      border-bottom: 1px solid #FFF; }
      .panel .header p a {
        color: #FFF;
        text-decoration: none; }
  .panel .record-number {
    width: 0.41333rem;
    height: 0.41333rem;
    background: #d70000;
    border-radius: 0.41333rem;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateX(0.56667rem);
    color: #FFF;
    line-height: 0.41333rem;
    text-align: center; }
  .panel ul {
    margin-top: 0.12rem; }
  .panel .table {
    width: 100%;
    padding-top: 0.72rem; }
  .panel .table-cell {
    text-align: center;
    font-size: 0px;
    position: relative; }
    .panel .table-cell img {
      width: 1.30667rem;
      height: 1.30667rem; }
    .panel .table-cell p {
      color: #FFF;
      margin-top: 0.18667rem; }

.panel-overlay {
  transform: translate3d(3rem, 0, 0) !important;
  opacity: 1 !important; }

body.with-panel-left-reveal .views {
  transform: translate3d(3rem, 0, 0); }

body.with-panel-left-reveal .panel-overlay {
  transform: translate3d(0, 0, 0); }

[data-dpr="1"] .panel p {
  font-size: 14px; }

[data-dpr="1"] .panel .record-number {
  font-size: 13px; }

[data-dpr="2"] .panel p {
  font-size: 28px; }

[data-dpr="2"] .panel .record-number {
  font-size: 26px; }

[data-dpr="3"] .panel p {
  font-size: 42px; }

[data-dpr="3"] .panel .record-number {
  font-size: 39px; }

div.feature {
  width: 9.61333rem;
  margin: 0.24rem auto 0;
  background: #FFF;
  box-sizing: border-box;
  padding: 0.22667rem 0.24rem 0.46667rem;
  box-shadow: 3px 3px 10px #d5d5d5; }
  div.feature p.title {
    color: #9a9a9a;
    padding-bottom: 0.17333rem;
    position: relative; }
    div.feature p.title span {
      color: #f9a326;
      font-weight: bold; }
    div.feature p.title:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      right: auto;
      top: auto;
      height: 1px;
      width: 100%;
      background-color: #d5d5d5;
      display: block;
      z-index: 15;
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%; }
  div.feature ul {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 0.53333rem; }
  div.feature li {
    float: left;
    font-size: 0px; }
    div.feature li img {
      width: 1.38667rem; }
    div.feature li p {
      margin: 0.24rem 0 0;
      text-align: center;
      color: #a9a9a9; }
    div.feature li:nth-child(2), div.feature li:nth-child(3), div.feature li:nth-child(4) {
      margin-left: 0.94667rem; }

[data-dpr="1"] .feature p.title {
  font-size: 15px;
  line-height: 15px; }

[data-dpr="1"] .feature li p {
  font-size: 13px;
  line-height: 12px; }

[data-dpr="2"] .feature p.title {
  font-size: 30px;
  line-height: 30px; }
  [data-dpr="2"] .feature p.title:after {
    transform: scaleY(0.5); }

[data-dpr="2"] .feature li p {
  font-size: 26px;
  line-height: 25px; }

[data-dpr="3"] .feature p.title {
  font-size: 45px;
  line-height: 45px; }
  [data-dpr="3"] .feature p.title:after {
    transform: scaleY(0.33); }

[data-dpr="3"] .feature li p {
  font-size: 39px;
  line-height: 38px; }

div.recommend-job {
  padding: 0.21333rem 0.25333rem 0.22667rem 0.2rem; }
  div.recommend-job .item {
    display: flex;
    padding: 0.29333rem 0px 0.24rem 0px;
    position: relative; }
    div.recommend-job .item:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      right: auto;
      top: auto;
      height: 1px;
      width: 100%;
      background-color: #d5d5d5;
      display: block;
      z-index: 15;
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%; }
  div.recommend-job p.title {
    width: 9.06667rem; }
  div.recommend-job .title {
    width: 8.52rem; }
  div.recommend-job .top {
    font-weight: bold;
    color: #4d4d4d; }
  div.recommend-job .bottom {
    color: #9a9a9a;
    margin-top: 0.16rem;
    line-height: 0.38667rem; }
  div.recommend-job .after img {
    margin-top: 0.29333rem;
    width: 0.28rem;
    height: 0.52rem; }
  div.recommend-job .more {
    color: #f9a326;
    text-align: center;
    margin-top: 0.16rem;
    display: block; }

[data-dpr="1"] .recommend-job p.title, [data-dpr="1"] .recommend-job .top, [data-dpr="1"] .recommend-job .more {
  font-size: 15px;
  line-height: 15px; }

[data-dpr="1"] .recommend-job .bottom {
  font-size: 13px; }

[data-dpr="2"] .recommend-job p.title, [data-dpr="2"] .recommend-job .top, [data-dpr="2"] .recommend-job .more {
  font-size: 30px;
  line-height: 30px; }

[data-dpr="2"] .recommend-job .bottom {
  font-size: 26px; }

[data-dpr="2"] .recommend-job .item:after {
  transform: scaleY(0.5); }

[data-dpr="3"] .recommend-job p.title, [data-dpr="3"] .recommend-job .top, [data-dpr="3"] .recommend-job .more {
  font-size: 45px;
  line-height: 45px; }

[data-dpr="3"] .recommend-job .bottom {
  font-size: 39px; }

[data-dpr="3"] .recommend-job .item:after {
  transform: scaleY(0.33); }

.hot-job {
  padding: 0.24rem 0.28rem 0.28rem 0.24rem; }
  .hot-job ul {
    padding: 0.32rem 0.34667rem 0.37333rem 0.26667rem; }

div.recommend-job, div.hot-job {
  width: 9.61333rem;
  background-color: #FFF;
  margin: 0.2rem auto 0;
  box-sizing: border-box;
  box-shadow: 3px 3px 10px #d5d5d5; }
  div.recommend-job p.title, div.hot-job p.title {
    font-weight: bold;
    color: #f9a326;
    position: relative;
    padding-bottom: 0.17333rem; }
    div.recommend-job p.title .icon, div.hot-job p.title .icon {
      width: 0.29333rem;
      height: 0.37333rem;
      margin-right: 0.13333rem; }
    div.recommend-job p.title:after, div.hot-job p.title:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      right: auto;
      top: auto;
      height: 1px;
      width: 100%;
      background-color: #d5d5d5;
      display: block;
      z-index: 15;
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%; }
  div.recommend-job ul, div.hot-job ul {
    box-sizing: border-box; }

[data-dpr="2"] div.recommend-job p.title:after, [data-dpr="2"] div.hot-job p.title:after {
  transform: scaleY(0.5); }

[data-dpr="3"] div.recommend-job p.title:after, [data-dpr="3"] div.hot-job p.title:after {
  transform: scaleY(0.33); }

/*# sourceMappingURL=style.css.map*/