.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// display 
.table {
    display: table;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
}

// 水平垂直居中
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

