@mixin border-top {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: auto;
  right: auto;
  height: 1px;
  width: 100%;
  background-color: #c8c7cc;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  transform: scaleY(.5);
}

@mixin border-bottom {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #c8c7cc;
    display: block;
    z-index: 15;
    transform-origin: 50% 100%;
    transform: scaleY(.5);
}

@mixin animation-name($a) {
    -webkit-animation-name: $a;
    animation-name: $a;
}

@mixin animation-duration($a) {
  -webkit-animation-duration: $a;
  animation-duration: $a;
}

@mixin animation-fill-mode($a) {
  -webkit-animation-fill-mode: $a;
  animation-fill-mode: $a;
}