// 主题色
$theme-color: #f9a326;
// 标准色
$standard-color: #4d4d4d;
// 辅助色
$assist-color: #9a9a9a;

// 页面背景颜色
$page-background-color: #e9e9e9;

// 侧边栏背景颜色
$panel-background-color: #333333;

// 边框颜色
$border-color: #d5d5d5;

//申请记录个数背景颜色
$record-background-color: #d70000;

// z-index设置
$navbar-z-index: 2;
$page-content-z-index: 1;

// height
$navbar-height: px2rem(104px);

// panel 宽度
$panel-width: px2rem(225px);
